<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MertDb" connectionString="Data Source=MERT\\SQLEXPRESS01;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" />
		<add name="SefaDb" connectionString="Data Source=MERT\\SQLEXPRESS01;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" />
		<add name="FatmaDb" connectionString="Data Source=MERT\\SQLEXPRESS01;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" />
	</connectionStrings>
	<appSettings>
		<add key="ConnectionString" value="Data Source=.;Initial Catalog=NTierArchitecture;Integrated Security=True" />
	</appSettings>
</configuration>