<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MertDb" connectionString="Data Source=MERT\\SQLEXPRESS01;Integrated Security=True;Initial Catalog=Proje4" />
	</connectionStrings>
	<appSettings>
		<add key="ConnectionString" value="Data Source=.;Initial Catalog=Test12345;Integrated Security=True" />
	</appSettings>
</configuration>